.home-header {
    align-self: stretch;
    text-align: center;
}
.home-sub-content {
    display: flex;
    align-content: center;
    margin: 1rem 0.7rem 1rem 0.7rem;
    font-size: 0.9rem;
}
.home-sub-content > .home-image {
    flex-basis: 25%;
    padding: 0.8rem;
}
.home-sub-content > p {
    flex-basis: 75%;
}
.home-button-container {
    display: flex;
    align-content: center;
    flex-direction: column;
    margin: 1rem 1rem 0 1rem;
}
.home-button-container > ion-button {
    height: 3rem;
}

.home-login {
    display: flex;
    align-content: center;
    flex-direction: column;
}
.home-login > p {
    align-self: center;
    text-align: center;
    font-size: 0.8rem;
    font-weight: 600;
}