.interests-container {
    display: flex;
    flex-direction: column;
}
.interests-container > h5 {
    text-align: center;
}
.interests-container > ion-list {
   background: unset;
   background-color: unset;
   padding: 0;
   
}
.interests-container > ion-list > ion-item{
    --background: none;
    padding: 0;
    margin: 0;
 }
