.login-input {
    padding: 1.5rem 1rem 0 1rem;
}
.login-button-container {
    display: flex;
    align-content: stretch;
    flex-direction: column;
    padding: 0 1rem 0 1rem;
}
.login-button-container ion-button {
    min-height: 3rem;
}
.login-button-container > ion-button:last-child {
    --background: #4267B2;
}
.login-logo {
    margin-top: 2rem;
}
.login-forgot-container, .login-signup-container {
    margin-top: 2rem;
    display: flex;
    align-content: center;
    flex-direction: column;
}
.login-forgot-container > p,  .login-signup-container > p{
    text-align: center;
    align-self: stretch;
    font-size: smaller;
    font-weight: 600;
}
.login-signup-container {
    margin-top: 0.2rem;
}